IB2B.Localizacion.UI/Service References/ServiceReference1/Localizacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.Global" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.Global" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
  <xs:complexType name="ResultadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoBE" nillable="true" type="tns:ResultadoBE" />
</xs:schema>