IB2B.Localizacion.UI/Service References/ServiceReference1/Localizacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.SUNAT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.SUNAT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosSUNATBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreNatural" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosSUNATBE" nillable="true" type="tns:DatosSUNATBE" />
</xs:schema>