IB2B.Localizacion.UI/Service References/ServiceReference1/Localizacion3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34158/Localizacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.Global" />
  <xs:import schemaLocation="http://localhost:34158/Localizacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.SUNAT" />
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.Global" minOccurs="0" name="pClienteBE" nillable="true" type="q1:ClienteBE" />
        <xs:element minOccurs="0" name="pAplicacionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.Global" minOccurs="0" name="RegistrarClienteResult" nillable="true" type="q2:ResultadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSUNAT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero_ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSUNATResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IB2B.Localizacion.Service.DataContract.SUNAT" minOccurs="0" name="GetDataSUNATResult" nillable="true" type="q3:DatosSUNATBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>